<h1 class="title">All Genres</h1>
<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= link_to genre.name, genre_path(genre) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
