<%= link_to 'Back to All Genres', genres_path, class: 'button is-small is-light' %>
<h1 class="title has-text-centered"><%= @genre.name %> Mangas</h1>

<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Release Date</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'mangas/manga_list', collection: @mangas, as: :manga %>
  </tbody>
</table>
