<h1 class="title has-text-centered">All Mangas</h1>
<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Author</th>
      <th>Release Date</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'mangas/manga_list', collection: @mangas, as: :manga %>
  </tbody>
</table>