<%= link_to 'Back to All Authors', authors_path %>
<h1><%= @author.name %></h1>
<h2>Mangas</h2>
<ul>
  <% @author.mangas.each do |manga| %>
    <li><%= link_to manga.title, manga_path(manga) %></li>
  <% end %>
</ul>

