<h1>About</h1>
<p>This web application uses data from the following sources:</p>
<ul>
  <li>Jikan API: A RESTful API for MyAnimeList</li>
  <li>Faker: A Library for generating data</li>
</ul>

<h2>Entity-Relationship Diagram (ERD)</h2>
<%= image_tag 'erd.png', alt: 'ERD' %>